#fact {
	font-style: italic;
}

.facts {
	list-style: none;
}

.facts_span {
	font-weight: bold;	
}

.animal_name {
	padding: 0.5cm
}

.p_image {
	width: 300px;
	padding: 0.5cm;
}

div {
	border: ridge;
}

body {
	width: 350px;
}
